<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  @if (user$ | async; as user) {

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <ion-list>
        <ion-item lines="none">
          <div class="m-auto">
            <ion-thumbnail class="profile-thumbnail" (click)="changeImage()">
              @if (user.photoURL) {
                <img [src]="user.photoURL" alt="Profile Picture"/>
              } @else {
                <div class="preview">
                  <p class="font-size-12">Select avatar</p>
                </div>
              }
            <ion-icon name="camera-outline"></ion-icon>
            </ion-thumbnail>
          </div>
        </ion-item>
      </ion-list>

      <ion-input
        [value]="user.displayName"
      >
      </ion-input>
    </form>
  }
</ion-content>
