.filter-icon {
  font-size: 2rem;
}

ion-modal {
  --height: auto;

  align-items: end;
}

ion-picker {
  margin-bottom: var(--ion-safe-area-bottom);

  & ion-picker-column ion-picker-column-option.option-active {
    color: var(--ion-color-dark);
  }
}
