<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title">Searched: {{ searchValue }}</ion-title>

    <ion-buttons slot="end">
      <ion-button id="open-filter" expand="block">
        <ion-icon class="filter-icon" name="filter-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (ads$ | async; as ads) {
    <app-ad-list [ads]="ads" [adFetchType]="adFetchType" [isLoading]="isLoading"
                 [additionalData]='{searchValue: searchValue, order: orderDirection}'></app-ad-list>
  }

</ion-content>


<ion-modal #modal trigger="open-filter" (didDismiss)="onDidDismiss($event)" >
  <ng-template>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="modal.dismiss(null, 'cancel')">Cancel</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="modal.dismiss(orderDirection, 'confirm')">Done</ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-picker>
      <ion-picker-column [value]="orderDirection" (ionChange)="onIonChange($event)">
        <ion-picker-column-option value="" disabled="true">--</ion-picker-column-option>
        <ion-picker-column-option value="desc">Descending</ion-picker-column-option>
        <ion-picker-column-option value="asc">Ascending</ion-picker-column-option>
      </ion-picker-column>
    </ion-picker>
  </ng-template>
</ion-modal>
