<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title">Searched: {{ searchValue }}</ion-title>

    <ion-buttons slot="end">
      <ion-button id="open-filter" expand="block">
        <ion-icon class="filter-icon" name="filter-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (ads$ | async; as ads) {
    <app-ad-list [ads]="ads" [adFetchType]="adFetchType.SEARCHED" [isLoading]="isLoading"
                 [additionalData]='{searchValue: searchValue, order: "desc"}'></app-ad-list>
  }

  <ion-modal #modal trigger="open-filter" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.75, 1]">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item>
            TODO: Add filter options
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
