.header {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;

  .title {
    font-size: 2rem;
    font-weight: bold;
  }

  .subtitle {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--ion-color-medium-shade);
  }
}

.button {
  font-size: 0.75rem;
}

.text-center {
  text-align: center !important;
}

.signup-text {
  ion-text {
    font-weight: bold;
    color: var(--ion-color-primary);
  }
}

.error-message {
  color: var(--ion-color-danger);
  font-size: 0.75rem;
  padding-left: 1rem;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


//TODO: fix green validation
//:host ion-input.ion-dirty.ion-valid,
//:host ion-input.ion-touched,
//:host ion-input.has-focus{
//  color: yellow !important;
//
//  & .input-wrapper {
//    color: red !important;
//  }
//
//  & label .label-text {
//    color: blue !important;
//  }
//}
