.ad {
  margin: 1rem 0.5rem;
  --background: var(--ion-color-light);
  border-radius: 10px;
  border: 1px solid var(--ion-color-medium-tint);
  box-shadow: var(--ion-box-shadow);

  & ion-thumbnail {
    --size: 7rem;
    margin: 0 1rem 0 0;
    --border-radius: 10px 0 0 10px;;

    & img {
      //object-fit: contain;
      border: 1px solid var(--ion-color-medium-tint);
    }
  }

  & ion-label {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }

  & .placeholder-image {
    background: #ededed;
    padding: 0.75rem;
  }
}

.thumbnail {
  --size: 7rem;
}

//.ad {
//  &.vertical-style {
//    --background: #fff8f8;
//
//    & ion-thumbnail {
//      --size: 7.5rem;
//
//      & img {
//        border: 1px solid var(--ion-color-medium-tint);
//      }
//    }
//  }
//}

.ad-title {
  font-size: 1.1rem;
  font-weight: 500;
}

.price {
  color: var(--ion-color-primary-tint);
  font-size: 1.1rem;
}

ion-badge {
  --background: transparent;
  color: black;
  border: 1px solid black;
  font-weight: 400;
  font-size: 8px;
}
