<ion-list>
  @if (isLoading){
    @for (i of placeholderArray; track $index) {
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    }
  }
  @else if (ads && ads.length > 0) {

    @for (ad of ads; track $index) {
      <ion-item class="ad ion-no-padding" (click)="openAdDetailsModal(ad)" lines="none">
        <ion-thumbnail slot="start">
          @if (ad.images && ad.images.length > 0) {
            <img [src]="ad.images[0]" alt="image"/>
          } @else if (ad.subcategory) {
            <img src="assets/images/crops/{{ad.subcategory}}.png" class="placeholder-image" alt="placeholder"/>
          } @else {
            <img src="assets/images/no-image.png" alt="placeholder"/>
          }
        </ion-thumbnail>
        <ion-label class="ad-label">
          <ion-text>
            <h2 class="ad-title">{{ ad.title }}</h2>
          </ion-text>
          <div>
            <ion-badge>{{ ad.category }}</ion-badge>
          </div>
          <div class="ad-details flex justify-space-between">
            <ion-text color="medium">
              <p class="font-weight-600">{{ ad.location }}</p>
            </ion-text>
            <ion-text color="primary">
              <p class="ad-price">{{ ad.price }} {{ ad.currency }}</p>
            </ion-text>
          </div>
        </ion-label>
      </ion-item>
      <!-- Dynamic content -->
      @if (adContent) {
        <ng-container
          [ngTemplateOutlet]="adContent"
          [ngTemplateOutletContext]="{ $implicit: ad }"
        ></ng-container>
      }
    }

  } @else {
    <ion-item>
      <ion-label>
        <h3>Sorry, no ads found</h3>
      </ion-label>
    </ion-item>
  }
</ion-list>

<ion-infinite-scroll threshold="100px" (ionInfinite)="onIonInfinite($event)">
  <ion-infinite-scroll-content loadingText="Loading more data..."></ion-infinite-scroll-content>
</ion-infinite-scroll>
