.ad {
  margin: 1rem 0.5rem;
  --background: var(--ion-color-light);
  border-radius: 10px;
  border: 1px solid var(--ion-color-medium-tint);
  box-shadow: var(--ion-box-shadow);

  --inner-padding-end: 0.5rem;

  & ion-thumbnail {
    --size: 7rem;
    margin: 0 0.5rem 0 0;
    --border-radius: 10px 0 0 10px;

    & img {
      //object-fit: contain;
      border: 1px solid var(--ion-color-medium-tint);
    }
  }

  & ion-label {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }

  & .placeholder-image {
    background: #ededed;
    padding: 0.75rem;
  }
}

.thumbnail {
  --size: 7rem;
}

.ad-title {
  font-weight: 700;
  margin-top: 0.25rem;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ad-price {
  font-size: 0.75rem;
  font-weight: 800;
}

.ad-details{
  margin-bottom: 0.25rem;
}

ion-badge {
  --background: transparent;
  color: black;
  border: 1px solid black;
  font-weight: 400;
  font-size: 8px;
}
