<ion-content class="ion-padding">

  <!-- Register Page -->
  <div class="page">
    <div>
      <div class="container">
        <div class="header">
          <ion-title class="title">
            Create Account
            <p class="subtitle">Sign up to get started</p>
          </ion-title>
        </div>

        <form [formGroup]="form" (ngSubmit)="register()">
          <ion-list>

            <ion-item lines="none">
              <ion-input
                labelPlacement="stacked"
                label="Name"
                placeholder="Full Name"
                formControlName="name"
                type="text"
                errorText="Invalid name"
                helperText="Don't worry, you can change this later"
              >
                <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon>
              </ion-input>
            </ion-item>

            <ion-item class="ion-margin-top" lines="none">
              <ion-input
                labelPlacement="stacked"
                label="Email"
                placeholder="Email Address"
                formControlName="email"
                type="email"
                errorText="Invalid email"
              >
                <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
              </ion-input>
            </ion-item>

            <!--            helperText="Enter a valid password"-->

            <ion-item class="ion-margin-top" lines="none">
              <ion-input
                clearOnEdit="false"
                labelPlacement="stacked"
                label="Password"
                placeholder="Password"
                formControlName="password"
                [type]="showPassword ? 'text' : 'password'"
                errorText="Password must be at least 8 characters long"
              >
                <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
                <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="togglePasswordVisibility()">
                  <ion-icon slot="icon-only" [name]="showPassword ? 'eye-off' : 'eye'" aria-hidden="true"></ion-icon>
                </ion-button>
              </ion-input>
            </ion-item>

            <ion-item class="ion-margin-top">
              <ion-input
                clearOnEdit="false"
                labelPlacement="stacked"
                label="Confirm Password"
                placeholder="Confirm Password"
                formControlName="confirmPassword"
                [type]="showConfirmPassword ? 'text' : 'password'"
              >
                <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
                <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="toggleConfirmPasswordVisibility()">
                  <ion-icon slot="icon-only" [name]="showConfirmPassword ? 'eye-off' : 'eye'" aria-hidden="true"></ion-icon>
                </ion-button>
              </ion-input>
            </ion-item>


            <div class="error-message" *ngIf="form.errors && confirmPassword.touched">
              Passwords must match
            </div>

            <br/>

          </ion-list>
          <ion-button [disabled]="form.invalid" expand="block" shape="round" size="large" type="submit">Register</ion-button>
        </form>
      </div>


    </div>

    <div class="signup-text text-center">
      Already have an account?
      <br>
      <ion-text color="primary" class="ion-text" [routerLink]="['/login']">Log In</ion-text>
    </div>

  </div>
</ion-content>
