<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title">Choose Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  @if (categories) {
    <ion-accordion-group multiple="true">
      @for (category of categories; track $index) {
        <ion-accordion [value]="category.name">
          <ion-item slot="header">
            <ion-label class="font-weight-bold">{{ category.name }}</ion-label>
          </ion-item>
          <div slot="content">
            <ion-list>
              @for (subcategory of category.sub_categories; track $index) {
                <ion-item [button]="true" lines="none" (click)="selectCategory(category, subcategory)">
                  <ion-label class="ion-margin-start">{{ subcategory.name }}</ion-label>
                </ion-item>
              }
            </ion-list>
          </div>
        </ion-accordion>
      }

    </ion-accordion-group>
  }

</ion-content>
