ion-range::part(pin) {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  //background: #ffafcc;
  //color: #fff;

  border-radius: 50%;
  transform: scale(1.01);

  top: -20px;

  min-width: 28px;
  height: 28px;
  transition: transform 120ms ease, background 120ms ease;
}

ion-input, ion-textarea {
  --background: var(--ion-color-light);

  --highlight-color-valid: black;
  ////--highlight-color-focused: black;

  &.ion-touched.ion-invalid {
    --highlight-color-invalid: black;
  }

  &.ion-touched.ion-dirty {
    --highlight-color-invalid: var(--ion-color-danger) !important;
  }
}


h1 {
  margin: 1rem 0;
  text-align: center;
}

form > *:not(app-input-error):not(ion-note):not(:first-child) {
  margin: 2.25rem 0 0.25rem 0;
  display: block;
}

ion-input.md,
ion-select.md {
  height: 4rem !important;
  --background: var(--ion-color-light);
  --padding-end: 3rem;
}

ion-textarea.md {
  min-height: 8rem !important;
  --padding-end: 3rem;
  --padding-bottom: 1rem;
  --padding-top: 0.5rem;
}

.open-categories-modal, .open-images {
  --background: var(--ion-color-light);
  border: 1px solid #bcc5d4;
  border-radius: 4px;

  & ion-icon {
    font-size: 1rem;
  }
}

ion-note {
  display: block;
  margin-bottom: 5px;
}

ion-radio-group, ion-toggle {
  background: var(--ion-color-light);
  padding: 0.75rem;
  display: flex !important;
  gap: 0.5rem;
  flex-direction: column;
  border: 1px solid #bcc5d4;
}

.ai-button {
  position: absolute;
  right: 0;
  z-index: 2;
}
