ion-range::part(pin) {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  //background: #ffafcc;
  //color: #fff;

  border-radius: 50%;
  transform: scale(1.01);

  top: -20px;

  min-width: 28px;
  height: 28px;
  transition: transform 120ms ease, background 120ms ease;
}

ion-input, ion-textarea {
  --highlight-color-valid: black;
  ////--highlight-color-focused: black;

  &.ion-touched.ion-invalid {
    --highlight-color-invalid: black;
  }

  &.ion-touched.ion-dirty {
    --highlight-color-invalid: var(--ion-color-danger) !important;
  }
}


h1 {
  margin: 1rem 0;
  text-align: center;
}

form > *:not(app-input-error):not(ion-note) {
  margin: 2.25rem 0 0.25rem 0;
  display: block;
}

ion-input.md,
ion-select.md {
  height: 4rem !important;
}

ion-textarea.md {
  height: 8rem !important;
}

.open-categories-modal, .open-images {
  border: 1px solid #bcc5d4;
  border-radius: 4px;

  & ion-icon {
    font-size: 1rem;
  }
}

ion-note{
  display: block;
  margin-bottom: 5px;
}
