<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    @if (isEdit) {
      <ion-title class="text-center">Edit Ad</ion-title>
    } @else {
      <ion-title class="text-center">Create Ad</ion-title>
    }

    <ion-buttons slot="end">
      <ion-button id="open-popover" expand="block">
        <ion-icon class="popover-icon" name="alert-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-popover trigger="open-popover">
      <ng-template>
        <ion-content class="ion-padding">
          It is prohibited to publish the same ad multiple times in different categories or regions, or to delete and
          re-publish the same items/services. Non-compliant ads will not be published. Thank you, and we wish you much
          success with your ads.
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (!isLoading) {
    @if (isEdit) {
      <app-dynamic-form [jsonFormData]="formData" [ad]="ad" (formSubmitted)="onUpdate($event)"></app-dynamic-form>
    } @else {
      <app-dynamic-form [jsonFormData]="formData" (formSubmitted)="onCreate($event)"></app-dynamic-form>
    }
  }

</ion-content>
