<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ai
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    {{ response }}
  </div>

  <ion-button class="ion-margin-top" (click)="generateContentWithOpenAI()" [disabled]="!compressedImage" expand="full"
              shape="round">
    OpenAI
  </ion-button>


</ion-content>
<ion-footer>


  <div class="max-width-75 position-relative">
    @if (image) {
      <div>
        <img [src]="'data:image/jpeg;base64,'+image.base64String" alt="image" class="img-fluid">
        <ion-icon class="delete-image-icon" name="close-outline" (click)="image=null; compressedImage=null"></ion-icon>
      </div>
    }
  </div>

  <ion-input class="ion-padding-horizontal" placeholder="Start typing here to chat...">
    <ion-icon color="dark" slot="start" name="add-circle-outline" (click)="uploadImage()"></ion-icon>
    <ion-button fill="clear" slot="end">
      <ion-icon color="dark" slot="icon-only" name="send-outline" aria-hidden="true"></ion-icon>
    </ion-button>
  </ion-input>
</ion-footer>
