
.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  border: 1px dashed #000000;
  border-radius: 1rem;
  margin: 10px 0;
  background-color: var(--ion-color-medium-tint);
}

ion-footer {
  box-shadow: none;

  padding: 0.5rem 1rem;

  & ion-icon {
    font-size: 1.5rem;
  }
}


.roundedInput {
  --border-radius: 50px;
  --background: #ffffff;
}


ion-input {
  color: #1e2023;

  --highlight-color-focused: none;
  --highlight-color-invalid: none;
  --highlight-color-valid: none;

  border-radius: 10rem;
  background: #8ab4f6;
}

.max-width-75 {
  max-width: 75px;
}

.position-relative {
  position: relative;
}

.delete-image-icon {
  position: absolute;
  right: 0;
  border-radius: 10rem;
  font-size: 1rem !important;
  background: #b80205;
}

.user-response {
  //--background: linear-gradient(to right, #b6cdf3, #f4d9f499, #cee5f6);

  ion-thumbnail {
    --border-radius: 50%;
  }

  ion-label {
    margin-top: 0;
  }
}

.ai-response {
  //--background: linear-gradient(to right, #b59ece, #6588eb);

  ion-label {
    margin-top: 0;
  }
}

ion-thumbnail {
  --size: 2rem;
}

.openai-logo{
  width: 4rem;
}
