<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ai
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content class="ion-padding">

  @for (message of messages; track message) {
    <ion-item class="ion-align-items-start ion-margin-vertical" [class.user-response]="$even"
              [class.ai-response]="$odd">
      <ion-thumbnail slot="start">
        <img [src]="message.from === 'YOU'? (user$ | async)?.photoURL : 'assets/images/openai.png'"/>
      </ion-thumbnail>
      <ion-label class="selectable">
        <ion-text>
          <h2 class="font-weight-500">{{ message.from }}</h2>
        </ion-text>
        <ion-text>
          <p class="font-size-12">{{ message.message }}</p>
        </ion-text>
        @if (message.image) {
          <ion-text>
            <img [src]="message.image" alt="image" class="img-fluid">
          </ion-text>
        }
      </ion-label>
    </ion-item>
  } @empty {
    <div class="ion-text-center h-100 flex ion-align-items-center ion-justify-content-center">
      <ion-text color="medium">
        <img class="openai-logo" src="assets/images/openai.png" alt="openAiLogo"/>
        <h2 class="font-weight-500">How can I help you today?</h2>
      </ion-text>
    </div>
  }
</ion-content>
<ion-footer>


  <div class="max-width-75 position-relative">
    @if (image) {
      <div>
        <img [src]="'data:image/jpeg;base64,'+image.base64String" alt="image" class="img-fluid">
        <ion-icon class="delete-image-icon" name="close-outline" (click)="image=null; compressedImage=null"></ion-icon>
      </div>
    }
  </div>
  <form [formGroup]="form" (ngSubmit)="generateContentWithOpenAI()">

    <ion-input formControlName="question" class="ion-padding-horizontal" placeholder="Start typing here to chat...">
      <ion-icon color="dark" slot="start" name="add-circle-outline" (click)="uploadImage()"></ion-icon>
      <ion-button fill="clear" slot="end" type="submit" [disabled]="form.invalid">
        <ion-icon color="dark" slot="icon-only" name="send-outline" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-input>
  </form>
</ion-footer>
