<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/chat"></ion-back-button>
    </ion-buttons>
    <ion-title>Ai</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>

  @for (message of messages; track $index) {

    @if (message.from === 'AI') {
      <div class="flex">
        <ion-thumbnail slot="start">
          <ion-img src="assets/logo.svg"/>
        </ion-thumbnail>
        <ion-text class="selectable ai-message">
          <div class="message-box">
            <p class="message">
              <markdown [data]="message.message"></markdown>
            </p>
          </div>
        </ion-text>
      </div>
    } @else {
      <div class="date-created text-center">{{ message.createdAt?.toDate() | date:'MMM d, y, HH:mm' }}</div>

      <ion-text class="selectable my-user-message">
        <div class="message-box">
          @if (message.image) {
            <ion-card class="message-image">
              <ion-img [src]="message.image" alt="image"/>
            </ion-card>
          }
          <p class="message">{{ message.message }}</p>
        </div>
      </ion-text>
    }

  } @empty {
    <div class="ion-text-center h-100 flex ion-align-items-center ion-justify-content-center">
      <ion-text color="medium">
        <img class="openai-logo" src="../../../../assets/logo.svg" alt="openAiLogo"/>
        <h2 class="font-weight-500">How can I help you today?</h2>
      </ion-text>
    </div>
  }
  @if (messageIsLoading) {
    <div class="flex">
      <ion-thumbnail slot="start">
        <ion-img src="assets/logo.svg"/>
      </ion-thumbnail>
      <ion-text class="selectable ai-message">
        <div class="message-box">
          <p class="message">
            @if (aiMessageResponse === '') {
              <ion-spinner name="dots" color="primary"></ion-spinner>
            } @else {
              <markdown [data]="aiMessageResponse"></markdown>
            }
          </p>
        </div>
      </ion-text>
    </div>
  }
</ion-content>
<ion-footer class="ion-no-border">
  <div class="flex ion-align-items-end">
    <ion-button class="chat-button" fill="clear" (click)="uploadImage()">
      <ion-icon color="dark" slot="icon-only" name="add-circle-outline"></ion-icon>
    </ion-button>

    <ion-input #chatInput (keydown.enter)="sendMessage()" placeholder="Start typing here to chat...">
      @if (compressedImage) {
        <ion-card class="image-container">
          <ion-img [src]="compressedImage" alt="image" class="img-fluid"/>
          <ion-icon class="delete-image-icon" name="close-outline"
                    (click)="image=null; compressedImage=null"></ion-icon>
        </ion-card>
      }
    </ion-input>
    <ion-button class="chat-button" fill="clear" (click)="sendMessage()">
      <ion-icon color="dark" slot="icon-only" name="send-outline" aria-hidden="true"></ion-icon>
    </ion-button>
  </div>
</ion-footer>
