ion-thumbnail {
  --size: 2.5rem;
  --border-radius: 50%;
  margin: 0 0.75rem;
}

.date-created {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  color: var(--ion-color-medium);
}

.my-user-message {
  text-align: right;

  & .message-box {
    max-width: 75%;
    margin-left: auto;
    margin-right: 0.5rem;

    & .message {
      display: inline-block;
      border-radius: 1rem;
      margin: 0 0.25rem 0.25rem 0;
      padding: 0.4rem 0.75rem;
      background: var(--ion-color-primary-chat);
      color: var(--ion-color-light);
      white-space: pre-line;
      text-align: left;
      min-width: 2.25rem;
      border: 1px solid var(--ion-color-medium-tint);
    }
  }
}

.ai-message {
  width: 75%;

  & .message-box {

    & .message {
      display: inline-block;
      border-radius: 1rem;
      margin: 0.15rem 0;
      padding: 0.4rem 0.75rem;
      background: var(--ion-color-light);
      white-space: pre-line;
      min-width: 2.25rem;
      border: 1px solid var(--ion-color-medium-tint);
    }
  }
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  border: 1px dashed #000000;
  border-radius: 1rem;
  margin: 10px 0;
  background-color: var(--ion-color-medium-tint);
}

ion-footer {
  box-shadow: none;

  padding: 0.5rem 1rem;

  & ion-icon {
    font-size: 1.5rem;
  }
}

ion-input {
  color: var(--ion-color-dark);

  --highlight-color-focused: none;
  --highlight-color-invalid: none;
  --highlight-color-valid: none;

  border-radius: 10rem;
  background: var(--ion-color-light);

  box-shadow: var(--ion-box-shadow);
  border: 1px solid var(--ion-color-secondary-shade);
}


.image-container {
  position: relative;
  max-width: 75px;
}

.delete-image-icon {
  position: absolute;
  right: 0;
  border-radius: 10rem;
  font-size: 1rem !important;
  background: #b80205;
}

.openai-logo {
  width: 4rem;
  background-image: none;
}
