<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/chat"></ion-back-button>
    </ion-buttons>
    <ion-title>Ai</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>

  @for (message of messages; track $index) {

    @if (message.from === 'AI') {
      <div class="flex">
        <ion-thumbnail slot="start">
          <ion-img src="assets/logo.svg"/>
        </ion-thumbnail>
        <ion-text class="selectable ai-message">
          <div class="message-box">
            <p class="message">
              <markdown [data]="message.message"></markdown>
            </p>
          </div>
        </ion-text>
      </div>
    } @else {
      <div class="date-created text-center">{{ message.createdAt?.toDate() | date:'MMM d, y, HH:mm' }}</div>

      <ion-text class="selectable my-user-message">
        <div class="message-box">
          <p class="message">{{ message.message }}</p>
        </div>
      </ion-text>
    }

  } @empty {
    <div class="ion-text-center h-100 flex ion-align-items-center ion-justify-content-center">
      <ion-text color="medium">
        <img class="openai-logo" src="../../../../assets/logo.svg" alt="openAiLogo"/>
        <h2 class="font-weight-500">How can I help you today?</h2>
      </ion-text>
    </div>
  }
</ion-content>
<ion-footer>
  <div class="image-container">
    @if (image) {
      <div>
        <img [src]="'data:image/jpeg;base64,'+image.base64String" alt="image" class="img-fluid">
        <ion-icon class="delete-image-icon" name="close-outline" (click)="image=null; compressedImage=null"></ion-icon>
      </div>
    }
  </div>
  <form [formGroup]="form" (ngSubmit)="generateContentWithOpenAI()">

    <ion-input formControlName="question" class="ion-padding-horizontal" placeholder="Start typing here to chat...">
      <ion-icon color="dark" slot="start" name="add-circle-outline" (click)="uploadImage()"></ion-icon>
      <ion-button fill="clear" slot="end" type="submit" [disabled]="form.invalid">
        <ion-icon color="dark" slot="icon-only" name="send-outline" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-input>
  </form>
</ion-footer>
