<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/chat"></ion-back-button>
    </ion-buttons>

    @if (owner && ad) {
      <ion-item class="ion-no-padding" (click)="openAdDetailsModal(ad)" button lines="none">

        <ion-thumbnail slot="start">
            <ion-img [src]="owner.photoURL || 'assets/images/no-image.png'"/>
        </ion-thumbnail>
        <ion-label>
          <ion-title>{{ ad.title }}</ion-title>
          <ion-title size="small">{{ owner.displayName }}</ion-title>
        </ion-label>
      </ion-item>
    }
  </ion-toolbar>
</ion-header>

<ion-content #content class="ion-padding">

  @if (messages.length > 0 && owner && user && otherUser) {

    @for (message of messages; track $index) {

      <ion-item class="ion-align-items-start ion-margin-vertical">
        <ion-thumbnail slot="start">
            <ion-img [src]="getUser(message.from).photoURL || 'assets/images/no-image.png'"/>
        </ion-thumbnail>
        <ion-label class="selectable">
          <ion-text>
            <h2 class="font-weight-500">{{ getUser(message.from).displayName }}</h2>
          </ion-text>
          <ion-text>
            <p class="font-size-12">{{ message.message }}</p>
            <p>{{ message.createdAt.toDate() | date:'MMM d, y, HH:mm' }}</p>
          </ion-text>
        </ion-label>
      </ion-item>
    }
  } @else {
    @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9]; track $index) {
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    }
  }

</ion-content>
<ion-footer>

  <form [formGroup]="form" (ngSubmit)="sendMessage()">

    <ion-input formControlName="message" class="ion-padding-horizontal" placeholder="Start typing here to chat...">
      <ion-button fill="clear" slot="end" type="submit" [disabled]="form.invalid">
        <ion-icon color="dark" slot="icon-only" name="send-outline" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-input>
  </form>
</ion-footer>
