<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/chat"></ion-back-button>
    </ion-buttons>

    @if (owner && ad) {
      <ion-item class="ion-no-padding" (click)="openAdDetailsModal(ad)" button lines="none">

        <ion-thumbnail slot="start">
          <ion-img [src]="owner.photoURL || 'assets/images/no-image.png'"/>
        </ion-thumbnail>
        <ion-label>
          <ion-title>{{ ad.title }}</ion-title>
          <ion-title size="small">
            <p class="single-line">{{ owner.displayName }}</p>
          </ion-title>
        </ion-label>
      </ion-item>
    }
  </ion-toolbar>
</ion-header>

<ion-content #content>

  @if (messages.length > 0 && owner && user && otherUser) {

    @for (message of messages; track $index) {

      @if (getUser(message.from) === user) {
        @if (message.shouldShowDate) {
          <div class="date-created text-center">{{ message.createdAt.toDate() | date:'MMM d, y, HH:mm' }}</div>
        }
        <ion-text class="selectable my-user">
          <div class="message-box">
            <p class="message">{{ message.message }}</p>
          </div>
        </ion-text>

      } @else {
        @if (message.shouldShowDate) {
          <div class="date-created text-center">{{ message.createdAt.toDate() | date:'MMM d, y, HH:mm' }}</div>
        }
        <div class="flex">
          @if (message.shouldShowDate || message.from !== messages[$index - 1].from) {
            <ion-thumbnail slot="start">
              <ion-img [src]="getUser(message.from).photoURL || 'assets/images/no-image.png'"/>
            </ion-thumbnail>
          }
          <ion-text class="selectable other-user"
                    [class.indent]="!(message.shouldShowDate || message.from !== messages[$index - 1].from)">
            <div class="message-box">
              <p class="message">{{ message.message }}</p>
            </div>
          </ion-text>

        </div>
      }

    }
  } @else {
    @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9]; track $index) {
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    }
  }

</ion-content>
<ion-footer class="ion-no-border">
  <div class="flex ion-align-items-end">
    <ion-input class="ion-padding-horizontal" #chatInput (keydown.enter)="sendMessage()"
               placeholder="Start typing here to chat...">
    </ion-input>
    <ion-button class="chat-button" fill="clear" (click)="sendMessage()">
      <ion-icon color="dark" slot="icon-only" name="send-outline" aria-hidden="true"></ion-icon>
    </ion-button>
  </div>
</ion-footer>
