.last-message {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 5px 0;
}

ion-thumbnail {
  --size: 4.5rem;
  --border-radius: 50%;
  padding: 0.5rem;
}

.new-ai-chat {
  --background: var(--ion-color-primary-light);
}

ion-segment{
  border-bottom: 1px solid var(--ion-color-dark-tint);
}
