<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [value]="segment" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="userSentChats">
      <ion-label>From You</ion-label>
    </ion-segment-button>
    <ion-segment-button value="ai">
      <ion-icon name="sparkles"/>
    </ion-segment-button>
    <ion-segment-button value="userReceivedChats">
      <ion-label>To You</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>

    @if (isLoading) {
      @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track $index) {
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      }
    } @else if (segment === 'userSentChats') {


      @for (chat of userSentChats; track $index) {

        @if (chat.userToDisplay; as userToDisplay) {

          <ion-item (click)="goToChat(chat)" button detail>
            <ion-thumbnail slot="start">
              <ion-img [src]="userToDisplay.photoURL || 'assets/images/no-image.png'"/>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ userToDisplay.displayName }}</h2>
              <p>{{ chat.lastMessage }}</p>
              <p>{{ chat.updatedAt.toDate() | date:'MMM d, y, HH:mm' }}</p>
            </ion-label>
          </ion-item>
        }

      }

    } @else if (segment === 'ai') {
      <ion-item (click)="navigateToNewAiPage()" button detail lines="none" class="new-ai-chat">
        <ion-thumbnail slot="start">
          <ion-img src="assets/logo.svg"/>
        </ion-thumbnail>
        <ion-label>
          <h2 class="font-weight-bold">Start new chat with our AI</h2>
        </ion-label>
      </ion-item>

      @for (chat of user.aiChats; track $index) {
        <ion-item [routerLink]="['./ai', chat.id]" button detail lines="none">
          <ion-thumbnail slot="start">
            <ion-img src="assets/logo.svg"/>
          </ion-thumbnail>
          <ion-label>
            <p class="last-message font-weight-bold">{{ chat.lastMessage }}</p>
            <p>{{ chat.updatedAt.toDate() | date:'MMM d, y' }}</p>
          </ion-label>
        </ion-item>
      }

    } @else if (segment === "userReceivedChats") {
      @for (chat of userReceivedChats; track $index) {
        @if (chat.userToDisplay; as userToDisplay) {

          <ion-item (click)="goToChat(chat)" button detail>
            <ion-thumbnail slot="start">
              <ion-img [src]="userToDisplay.photoURL || 'assets/images/no-image.png'"/>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ userToDisplay.displayName }}</h2>
              <p>{{ chat.lastMessage }}</p>
              <p>{{ chat.updatedAt.toDate() | date:'MMM d, y, HH:mm' }}</p>
            </ion-label>
          </ion-item>
        }
      }
    }

  </ion-list>

</ion-content>
