<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (user) {
    <ion-list class="background-white ion-margin-vertical">

      <ion-item lines="none">
        <ion-thumbnail slot="start" class="profile-thumbnail" (click)="changeImage()">
          <img *ngIf="user.photoURL; else placeholder_avatar;" [src]="user.photoURL" alt="Profile Picture"/>

          <ng-template #placeholder_avatar>
            <div class="preview">
              <p class="font-size-12">Select avatar</p>
            </div>
          </ng-template>
        </ion-thumbnail>
        <ion-label>
          <ion-text>
            <h1 class="font-weight-bold">{{ user.displayName }}</h1>
          </ion-text>
          <ion-text color="medium">
            <h3>{{ user.email }}</h3>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list class="background-white ion-margin-vertical">
      <ion-list-header>General</ion-list-header>

      <ion-item lines="none">
        <ion-thumbnail class="flex ion-justify-content-center ion-align-items-center circle" slot="start">
          <ion-icon class="icon-color-dark-blue" name="person-outline"></ion-icon>
        </ion-thumbnail>
        <ion-label>
          <ion-text>
            <h2 class="font-weight-500">Edit Profile</h2>
          </ion-text>
          <ion-text color="medium">
            <p class="font-size-12">Change profile picture, number, name</p>
          </ion-text>
        </ion-label>

        <ion-icon slot="end" class="ion-margin-none" name="chevron-forward-outline"></ion-icon>

      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail class="flex ion-justify-content-center ion-align-items-center circle" slot="start">
          <ion-icon class="icon-color-dark-blue" name="lock-closed"></ion-icon>
        </ion-thumbnail>
        <ion-label>
          <ion-text>
            <h2 class="font-weight-500">Change Password</h2>
          </ion-text>
          <ion-text color="medium">
            <p class="font-size-12">Update and strengthen your security</p>
          </ion-text>
        </ion-label>

        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>

      </ion-item>

    </ion-list>

    <ion-list class="background-white ion-margin-vertical">
      <ion-list-header>Preferences</ion-list-header>

      <ion-item lines="none">
        <ion-thumbnail class="flex ion-justify-content-center ion-align-items-center circle" slot="start">
          <ion-icon class="icon-color-dark-blue" name="notifications-outline"></ion-icon>
        </ion-thumbnail>
        <ion-label>
          <ion-text>
            <h2 class="font-weight-500">Notifications</h2>
          </ion-text>
          <ion-text color="medium">
            <p class="font-size-12">Customize your notification preferences</p>
          </ion-text>
        </ion-label>

        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item lines="none" (click)="logOut()">
        <ion-thumbnail class="flex ion-justify-content-center ion-align-items-center background-danger circle"
                       slot="start">
          <ion-icon color="danger" name="log-out-outline"></ion-icon>
        </ion-thumbnail>
        <ion-label>
          <ion-text color="danger">
            <h2 class="font-weight-500">Log Out</h2>
          </ion-text>
          <ion-text color="medium">
            <p class="font-size-12">Securely log out of Account</p>
          </ion-text>
        </ion-label>

        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>

      </ion-item>

    </ion-list>

  } @else {
    <div>
      <div class="skeleton">
        <ion-thumbnail class="thumbnail-skeleton">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
      </div>

      <ion-item class="ion-margin-bottom" lines="none">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
      </ion-item>
    </div>
  }


</ion-content>
