ion-avatar {
  width: 8rem;
  height: 8rem;
}

.preview {
  --vertical-margin: 2rem;
  margin-top: var(--vertical-margin);
  margin-bottom: var(--vertical-margin);
  display: flex;
  justify-content: center;
}

.fallback {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: var(--ion-color-medium);

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.logout {
  width: 100%;
  height: 3rem;
  --border-radius: 50px;
}

.text-center {
  text-align: center;
}

.skeleton {
  --vertical-margin: 1.4rem;
  margin-top: var(--vertical-margin);
  margin-bottom: var(--vertical-margin);
  text-align: center;
  display: flex;
  justify-content: center;
}

.thumbnail-skeleton {
  --size: 8rem;

  & ion-skeleton-text {
    --border-radius: 9999px;
  }
}

.flex {
  display: flex;
}

.font-weight-500 {
  font-weight: 500 !important;
}

ion-item {
  & ion-thumbnail {
    --border-radius: 50%;
    background-color: rgba(70, 123, 244, 0.125);
    --size: 2.5rem;
  }
}


.background-white {
  --ion-background-color: white;
  border-radius: 1rem;
}

.background-danger {
  background-color: rgba(235, 68, 90, 0.1) !important;
}

ion-list-header {
  font-size: 1.1rem;
  font-weight: 500;
  --color: var(--ion-color-medium-tint);
}


.font-size-12 {
  font-size: 12px;
}

