<div class="background">
  <ion-text>
    <p class="title">Recommended Ads</p>
  </ion-text>
  <swiper-container #swiper>
    @for (ad of ads(); track $index) {
      <swiper-slide>

        <ion-card (click)="openAdDetailsModal(ad)">
          @if (ad.images && ad.images.length > 0) {
            <ion-img [src]="ad.images[0]" alt="image"/>
          } @else {
            <ion-img src="assets/images/no-image.png" alt="placeholder"/>
          }

          <div class="card-details">
            <ion-card-header>
              <ion-card-title>{{ ad.title }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <div>
                <ion-badge>{{ ad.subCategory ?? ad.category }}</ion-badge>
              </div>
              <div class="ion-text-right">
                {{ ad.price }} {{ ad.currency }}
              </div>
            </ion-card-content>
          </div>
        </ion-card>

      </swiper-slide>
    }
  </swiper-container>
</div>
