ion-header {
  & ion-toolbar {
    --background: var(--ion-color-primary);
    padding: 10px 16px !important;


    & ion-icon {
      width: 100%;
      height: 100%;

      fill: var(--ion-color-logo);
      //stroke: blue;
    }
  }
}

ion-thumbnail {
  //--size: 5rem;
}

.searchbar {
  --border-radius: 10rem;

  &::ng-deep {

    input.searchbar-input {
      height: 2.5rem !important;
    }
  }
}
