<ion-header>
  <ion-toolbar>
    <ion-title size="large">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="getAllAds($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list class="ion-margin-vertical">
    @if (isLoading) {
      @for (i of placeholderArray; track i) {
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      }

    } @else {

      <ion-item class="ad" *ngFor="let ad of ads">
        <ion-thumbnail slot="start">
          @if (ad.images && ad.images.length > 0) {
            <img [src]="ad.images[0]" alt=""/>
          }
        </ion-thumbnail>
        <ion-label>
          <ion-text>
            <h2 class="">{{ ad.title }}</h2>
          </ion-text>
          <ion-text color="medium">
            <p class="font-size-12">{{ ad.description }}</p>
          </ion-text>
        </ion-label>
      </ion-item>

    }

  </ion-list>


  <ion-button (click)="openModal()" color="primary" expand="block" shape="round">
    Create New Ad
  </ion-button>
</ion-content>
