<ion-header class="ion-no-padding">
  <ion-toolbar>
    <ion-text class="flex ion-align-items-center">
      <ion-thumbnail class="logo">
        <img alt="Logo" src="assets/icon-only.png"/>
      </ion-thumbnail>
    <ion-searchbar showCancelButton="focus" class="custom"></ion-searchbar>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refreshAds($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-ad-list [ads]="ads" [isLoading]="isLoading"></app-ad-list>

  <ion-fab (click)="openDynamicModal()" horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
