ion-header {
  & ion-toolbar {
    --background: var(--ion-color-primary);
    padding: 8px 16px !important;

    & ion-icon {
      //font-size: 2.5rem;

      fill: var(--ion-color-logo);
      //stroke: blue;

      border-radius: 50%;
      width: 2.5rem;
      aspect-ratio: 1;
      height: 100%;
      padding: 0.5rem;
    }
  }

  // Logo icon
  & ion-thumbnail {
    --size: 2.5rem;
  }
}

ion-thumbnail {
  //--size: 5rem;
}

.searchbar {
  --border-radius: 10rem;

  &::ng-deep {

    input.searchbar-input {
      height: 2.5rem !important;
    }
  }
}
