<ion-header>
  <ion-toolbar>
    <ion-title size="large">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="getAllAds($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list class="ion-margin-vertical">
    @if (isLoading) {
      @for (i of placeholderArray; track i) {
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      }

    } @else {

      <ion-item class="ad ion-margin-vertical" *ngFor="let ad of ads" [routerLink]="['ad',ad.id, 'details']">
        <ion-thumbnail slot="start">
          @if (ad.images.length > 0) {
            <img [src]="ad.images[0]" alt=""/>
          } @else {
            <img src="assets/images/no-image.png" alt="placeholder"/>

          }
        </ion-thumbnail>
        <ion-label>
          <ion-text>
            <h2 class="">{{ ad.title }}</h2>
          </ion-text>
          <ion-text color="medium">
            <div style="text-align: right">
              <p class="font-size-12">{{ ad.city }}</p>
            </div>
          </ion-text>
        </ion-label>
      </ion-item>

    }

  </ion-list>


  <ion-fab (click)="openModal()" horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
