<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title">My Ads</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="swapOrderDirection()">
        <ion-icon [name]=" orderDirection === 'asc' ? 'arrow-down-outline' : 'arrow-up-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <app-ad-list [ads]="ads" [adFetchType]="adFetchType.MY_ADS"
               [additionalData]="{order: orderDirection}"
               [adContent]="adContent"></app-ad-list>
  <ng-template #adContent let-ad>
    <ion-item-divider>
      <div class="ion-padding-horizontal ad-buttons w-100">
        <ion-button (click)="editAd(ad, $event)" size="small" fill="outline" shape="round" class="m-0">Edit
        </ion-button>
        <!--          <ion-button (click)="promoteAd(ad, $event)" size="small" fill="outline" shape="round" class="m-0">Promote</ion-button>-->
        <ion-button (click)="deleteAd(ad, $event)" size="small" fill="outline" shape="round" color="danger"
                    class="m-0">Delete
        </ion-button>
      </div>
    </ion-item-divider>
  </ng-template>
</ion-content>
