<form [formGroup]="form" (ngSubmit)="onSubmit()">
  @for (control of jsonFormData.controls; track $index) {
    <ion-item>
      @if (control.label !== '') {
        <!--                    <ion-label>{{ control.label }}</ion-label>-->
      }

      @if (['text', 'password', 'email', 'number', 'search', 'tel', 'url'].includes(control.type)) {
        <ion-input
          [formControlName]="control.name"
          [label]="control.label"
          [type]="control.type"
          [value]="control.value"
        ></ion-input>
      } @else if (control.type === 'textarea') {
        <ion-textarea
          [formControlName]="control.name"
          [label]="control.label"
          [value]="control.value"
        ></ion-textarea>
      } @else if (control.type === 'checkbox') {
        <ion-checkbox
          [formControlName]="control.name"
          [checked]="control.value"
        >{{ control.label }}
        </ion-checkbox>
      } @else if (control.type === 'toggle') {
        <ion-toggle
          [formControlName]="control.name"
          [checked]="control.value"
        >
          {{ control.label }}
        </ion-toggle>
      } @else if (control.type === 'range') {
        <ion-range
          [formControlName]="control.name"
          [label]="control.label"
          [pin]="true"
          [min]="control.options?.min"
          [max]="control.options?.max"
        >
          @if (control.options?.icon) {
            <ion-icon
              size="small"
              slot="start"
              [name]="control.options!.icon"
            ></ion-icon>
          }
          <ion-icon slot="end" [name]="control.options?.icon"></ion-icon>
        </ion-range>
      }


    </ion-item>
  }
  <ion-button [disabled]="!form.valid" expand="full" type="submit">Submit</ion-button>
</form>
