<div class="ion-padding">
  <h1> New Ad </h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    @for (control of jsonFormData.controls; track $index) {

      @if (control.name === 'category') {
        <div>
          @if (control.helpText) {
            <ion-note>
              <small>{{ control.helpText }}</small>
            </ion-note>
          }
          <ion-item [button]="true" (click)="openCategoriesModal()" class="open-categories-modal" lines="none">
            <ion-label>{{ chosenCategory }}</ion-label>
            <ion-icon name="caret-down-outline"></ion-icon>
          </ion-item>
        </div>
      } @else if (['text', 'password', 'email', 'number', 'search', 'tel', 'url'].includes(control.type)) {
        <div>

          @if (control.helpText) {
            <ion-note>
              <small>{{ control.helpText }}</small>
            </ion-note>
          }
          <ion-input
            [formControlName]="control.name"
            [label]="control.label"
            [type]="control.type"
            [value]="control.value"
            [placeholder]="control.placeholder"
            [counter]="control.validators.maxLength !== undefined"
            [maxlength]="control.validators.maxLength !== undefined ? control.validators.maxLength : null"
            fill="outline"
            labelPlacement="floating"
          >

          </ion-input>
        </div>


      } @else if (control.type === 'radio') {
        <ion-radio-group
          [formControlName]="control.name"
          [value]="control.value">
          <ion-text class="font-weight-500">
            <p>{{ control.label }}</p>
          </ion-text>
          <div class="flex gap-1">
            @for (option of control.options!.items; track $index) {
              <ion-radio
                [value]="option.value"
                [name]="control.name"
                labelPlacement="end">
                {{ option.label }}
              </ion-radio>
            }
          </div>
        </ion-radio-group>
      } @else if (control.type === 'textarea') {
        <ion-textarea
          [formControlName]="control.name"
          [label]="control.label"
          [value]="control.value"
          [placeholder]="control.placeholder"
          [autoGrow]="true"
          [counter]="control.validators.maxLength !== undefined"
          [maxlength]="control.validators.maxLength !== undefined ? control.validators.maxLength : null"
          rows="5"
          fill="outline"
          labelPlacement="floating"
        ></ion-textarea>
      } @else if (control.type === 'checkbox') {
        <ion-checkbox
          [formControlName]="control.name"
          [checked]="control.value"
        >{{ control.label }}
        </ion-checkbox>
      } @else if (control.type === 'toggle') {
        <ion-toggle
          [formControlName]="control.name"
          [checked]="control.value"
        >
          {{ control.label }}
        </ion-toggle>
      } @else if (control.type === 'range') {
        <ion-range
          [formControlName]="control.name"
          [label]="control.label"
          [pin]="true"
          [min]="control.options?.min"
          [max]="control.options?.max"
        >
          @if (control.options?.icon) {
            <ion-icon
              size="small"
              slot="start"
              [name]="control.options!.icon"
            ></ion-icon>
          }
          <ion-icon slot="end" [name]="control.options?.icon"></ion-icon>
        </ion-range>
      } @else if (control.type === 'select') {
        <ion-select
          [formControlName]="control.name"
          [label]="control.label"
          fill="outline"
          labelPlacement="floating">
          @for (option of control.options!.items; track $index) {
            <ion-select-option value="{{ option.value }}">{{ option.label }}</ion-select-option>
          }
        </ion-select>
        <ng-container *ngIf="form.controls[control.name] as selectControl">
          <app-input-error *ngIf="selectControl.touched" [errors]="selectControl.errors"></app-input-error>
        </ng-container>
      } @else if (control.type === 'image') {
        <div>
          @if (control.helpText) {
            <ion-note>
              <small>{{ control.helpText }}</small>
            </ion-note>
          }
          <ion-item [button]="true" (click)="uploadImages()" class="open-categories-modal" lines="none">
            <ion-label>{{ control.label }}</ion-label>
            <ion-icon name="caret-down-outline"></ion-icon>
          </ion-item>
          <ion-grid *ngIf="images">
            <ion-row>
              @for (img of images; track $index) {
                <ion-col size="4">
                  <img [src]="img.webPath" alt="image" class="img-fluid">
                  <ion-icon class="delete-image-icon" name="close-outline" (click)="images.splice($index,1)"></ion-icon>
                </ion-col>
              }
            </ion-row>
          </ion-grid>
        </div>

      }
      <ng-container *ngIf="form.controls[control.name] as ctrl">
        <app-input-error *ngIf="ctrl.dirty" [errors]="ctrl.errors"></app-input-error>
      </ng-container>
    }
    <ion-button [disabled]="!form.valid" expand="full" type="submit"
                class="ion-margin-top">
      Submit
    </ion-button>
  </form>
</div>
