img {
  max-height: 100%;
}

swiper-container {
  max-height: 20rem;
  text-align: center;

  & swiper-slide {
    img {
      max-height: 20rem;
      border: 1px solid var(--ion-color-medium-tint);
    }
  }
}
