.heading {
  font-size: 32px;
  font-weight: bold;
  margin-top: 70px;
}

.subheading {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 70px;
  color: var(--ion-color-medium-shade);
}


.button {
  height: 3rem;
  width: 100%;
  --border-radius: 100px;
}

.signup-text {
  text-align: center;
}

.error-message {
  color: var(--ion-color-danger);
  font-size: 0.75rem;
  padding-left: 10px;
}

ion-content {
  --ion-background-color: #E1EAF9 !important;
}

ion-icon {
  margin-left: 10px !important;
}

.eyeIcon {
  font-size: 1.5rem;
}

button {
  & ion-icon {
  --ion-size: 2rem;
    padding-left: 0.5rem !important;
  }

  & ion-icon.input-clear-icon{
    padding-left: 0.5rem !important;
  }
}
