.heading {
  font-size: 32px;
  font-weight: bold;
  margin-top: 70px;
}

.para {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 70px;
  color: var(--ion-color-medium-shade);
}

.input-item {
  padding-left: 20px;
  border: 2px solid #e2e2e2;
  height: 70px;

  ion-input {
    margin-top: -12px;
  }
}

.ion-item {
  margin-top: 20px;
}

.forget-text {
  a {
    text-decoration: none;
    color: var(--ion-color-base);
  }

  text-align: end;
}

.login-button {
  height: 50px;
  --border-radius: 12px;
}

.google-button {
  height: 50px;
  --border-radius: 12px;
}

.signup-text {
  text-align: center;
}

.error-message {
  color: red;
  font-size: smaller;
  padding-left: 10px;
}

ion-content {
  --ion-background-color: #E1EAF9 !important;
}

ion-icon {
  margin: 0 !important;
}
