<ion-content class="ion-padding">

  <!-- Login Page -->
  <div *ngIf="screen === 'signin'">
    <div>
      <h1 class="heading">Welcome</h1>
      <p class="subheading">Sign in to continue!</p>
    </div>

    <form [formGroup]="formData" (ngSubmit)="login()">
      <ion-item class="ion-item" lines="none">
        <ion-input
          aria-label="Email"
          clearInput
          formControlName="email"
          placeholder="Email"
          type="email"
        >
          <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-input>
      </ion-item>

      <ng-container *ngFor="let validation of formErrorMessages.email">
        <div class="error-message"
             *ngIf="email.hasError(validation.type) && (email.dirty || email.touched)">
          {{ validation.message }}
        </div>
      </ng-container>

      <ion-item class="ion-item ion-margin-top" lines="none">
        <ion-input
          aria-label="Email"
          clearInput
          formControlName="password"
          placeholder="Password"
          type="password"
        >
          <ion-icon name="lock-closed" slot="start" size="medium"></ion-icon>
        </ion-input>
      </ion-item>

      <ng-container *ngFor="let validation of formErrorMessages.password">
        <div class="error-message"
             *ngIf="password.hasError(validation.type) && (password.dirty || password.touched)">
          {{ validation.message }}

        </div>
      </ng-container>

      <br/>
      <div class="signup-text ion-margin-top">
        Don't have an account?
        <ion-text color="primary" (click)="change('signup')"> Register Here</ion-text>
      </div>

      <ion-item class="ion-item ion-margin-top ion-margin-bottom">
        <ion-button type="submit" class="button login-button" [disabled]="formData.invalid">Sign in</ion-button>
      </ion-item>
    </form>
    <ion-item class="ion-item">
      <ion-button class="button google-button" color="light" (click)="logout()">
        <ion-icon name="logo-google"></ion-icon>&nbsp;&nbsp;Sign in with Google
      </ion-button>
    </ion-item>
  </div>

  <!-- Sign up page -->
  <div class="container" *ngIf="screen === 'signup'">
    <h1 class="heading">🚀 Create Account
      <br>
      <br>
    </h1>
    <p class="para">Sign up to get started!</p>
    <form [formGroup]="formData">
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Full Name</legend>
          <ion-input formControlName="name" type="text" placeholder="John Doe"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Email Id</legend>
          <ion-input formControlName="email" type="email" placeholder="john@doe.com"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Password</legend>
          <ion-input formControlName="password" type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>
      <p class="signup-text">I'm already a member&nbsp;<a (click)="change('signin')">Sign In?</a>
      </p>
      <ion-button class="login-button" (click)="register()" expand="block">Sign Up</ion-button>
      <ion-button class="google-button" expand="block" color="light">
        <ion-icon name="logo-google"></ion-icon>&nbsp;&nbsp;Google Signin
      </ion-button>
    </form>
  </div>

  <!-- Forget password page -->
  <div class="container" *ngIf="screen === 'forget'">
    <h1 class="heading">Forget Password?
      <br>
      <br>
    </h1>
    <p class="para">Enter email to reset</p>
    <ion-item lines="none" class="ion-item">
      <fieldset class="input-item">
        <legend>Email Id</legend>
        <ion-input type="email" placeholder="name@domain.com"></ion-input>
      </fieldset>
    </ion-item>
    <p class="signup-text">Rememberd Password&nbsp;<a (click)="change('signin')">Sign In?</a>
    </p>
    <ion-button class="login-button" expand="block">Reset Password</ion-button>
  </div>

</ion-content>
