<ion-content class="ion-padding">

  <!-- Login Page -->
  @if (screen === 'login' && loginForm) {
    <div>
      <div>
        <h1 class="heading">Welcome</h1>
        <p class="subheading">Sign in to continue!</p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-item class="ion-item">
          <ion-input
            aria-label="Email"
            clearInput
            formControlName="email"
            placeholder="Email"
            type="email"
          >
            <ion-icon name="person-outline" slot="start"></ion-icon>
          </ion-input>
        </ion-item>

        <ng-container *ngFor="let validation of formErrorMessages.email">
          <div class="error-message"
               *ngIf="loginEmail.hasError(validation.type) && (loginEmail.dirty || loginEmail.touched)">
            {{ validation.message }}
          </div>
        </ng-container>

        <ion-item class="ion-item ion-margin-top">
          <app-show-hide-password>
            <ion-input
              aria-label="Password"
              clearOnEdit="false"
              formControlName="password"
              placeholder="Password"
              type="password"
            >
              <ion-icon name="lock-closed" slot="start" size="medium"></ion-icon>
            </ion-input>
          </app-show-hide-password>
        </ion-item>

        <ng-container *ngFor="let validation of formErrorMessages.password">
          <div class="error-message"
               *ngIf="loginPassword.hasError(validation.type) && (loginPassword.dirty || loginPassword.touched)">
            {{ validation.message }}

          </div>
        </ng-container>

        <br/>
        <div class="signup-text ion-margin-top">
          Don't have an account?
          <ion-text color="primary" (click)="changeScreen('register')"> Register Here</ion-text>
        </div>

        <ion-item class="ion-item ion-margin-top ion-margin-bottom">
          <ion-button type="submit" class="button login-button" [disabled]="loginForm.invalid">Sign in</ion-button>
        </ion-item>
      </form>
    </div>
  }


  <!-- Sign up page -->
  @if (screen === 'register' && registerForm) {
    <div class="container">
      <div>
        <h1 class="heading">Create Account</h1>
        <p class="subheading">Sign up to get started!</p>
      </div>

      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <ion-item class="ion-item">
          <ion-input
            aria-label="Email"
            clearInput
            formControlName="email"
            placeholder="Email"
            type="email"
          >
            <ion-icon name="person-outline" slot="start"></ion-icon>
          </ion-input>
        </ion-item>

        <ng-container *ngFor="let validation of formErrorMessages.email">
          <div class="error-message"
               *ngIf="registerEmail.hasError(validation.type) && (registerEmail.dirty || registerEmail.touched)">
            {{ validation.message }}
          </div>
        </ng-container>

        <ion-item class="ion-item ion-margin-top">
          <app-show-hide-password>
            <ion-input
              aria-label="Password"
              clearOnEdit="false"
              formControlName="password"
              placeholder="Password"
              type="password"
            >
              <ion-icon name="lock-closed" slot="start" size="medium"></ion-icon>
            </ion-input>
          </app-show-hide-password>
        </ion-item>

        <ng-container *ngFor="let validation of formErrorMessages.password">
          <div class="error-message"
               *ngIf="registerPassword.hasError(validation.type) && (registerPassword.dirty || registerPassword.touched)">
            {{ validation.message }}

          </div>
        </ng-container>


        <ion-item class="ion-item ion-margin-top">
          <app-show-hide-password>
            <ion-input
              aria-label="Confirm Password"
              clearOnEdit="false"
              formControlName="confirmPassword"
              placeholder="Confirm password"
              type="password"
            >
              <ion-icon name="lock-closed" slot="start" size="medium"></ion-icon>
            </ion-input>
          </app-show-hide-password>
        </ion-item>

        <ng-container *ngIf="registerForm.errors && registerForm.errors['mismatch'] !== null">
          <div class="error-message">
            The passwords must match
          </div>
        </ng-container>
        <br/>


        <div class="signup-text ion-margin-top">
          Already have an account?
          <ion-text color="primary" (click)="changeScreen('login')"> Sign In</ion-text>
        </div>

        <ion-item class="ion-item ion-margin-top ion-margin-bottom">
          <ion-button type="submit" class="button login-button" [disabled]="registerForm.invalid">Register</ion-button>
        </ion-item>
      </form>
    </div>
  }


  <ion-item class="ion-item">
    <ion-button class="button google-button" color="dark">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Login with Google
    </ion-button>
  </ion-item>

</ion-content>
