<ion-content class="ion-padding">

  <!-- Login Page -->
  <div class="page">
    <div>
      <div class="header">
        <ion-title class="title">
          Welcome
          <p class="subtitle">Sign in to continue</p>
        </ion-title>
      </div>

      <form [formGroup]="form" (ngSubmit)="login()">

        <ion-list>

          <ion-item lines="none">
            <ion-input
              labelPlacement="stacked"
              label="Email"
              placeholder="Email Address"
              formControlName="email"
              type="email"
              errorText="Invalid email"
              helperText="Enter a valid email"
            >
              <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
            </ion-input>
          </ion-item>

          <!--            helperText="Enter a valid password"-->

          <ion-item class="ion-margin-top" lines="none">
            <ion-input
              clearOnEdit="false"
              labelPlacement="stacked"
              label="Password"
              placeholder="Password"
              formControlName="password"
              [type]="showPassword ? 'text' : 'password'"
              errorText="Invalid password"
              helperText="Password must be at least 8 characters long"
            >
              <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
              <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="togglePasswordVisibility()">
                <ion-icon slot="icon-only" [name]="showPassword ? 'eye-off' : 'eye'" aria-hidden="true"></ion-icon>
              </ion-button>
            </ion-input>
          </ion-item>

          <br/>

        </ion-list>


        <br/>


        <ion-button [disabled]="form.invalid" expand="block" shape="round" size="large" type="submit">Login</ion-button>

        <div class="text-center ion-margin-top ion-margin-bottom">
          or
        </div>

        <ion-button (click)="signUpWithGoogle()" color="dark" expand="block" size="large" shape="round">
          <ion-icon name="logo-google" slot="start"></ion-icon>
          Sign in with Google
        </ion-button>
      </form>

    </div>


    <div class="signup-text text-center">
      Don't have an account?
      <br>
      <ion-text color="primary" class="ion-text" [routerLink]="['/register']">Sign Up</ion-text>
    </div>

  </div>

</ion-content>
