<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="text-center">
    <h2>Create Ad</h2>
  </div>


  <form [formGroup]="form" (ngSubmit)="submit()">

    <ion-item class="ion-margin-vertical">
      <ion-select
        label="I want to:"
        formControlName="buyOrSell">
        <ion-select-option value="buy">Buy</ion-select-option>
        <ion-select-option value="sell">Sell</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-margin-vertical">
      <ion-textarea
        label="Title"
        labelPlacement="stacked"
        formControlName="title"
        placeholder="Enter Title"
        autoGrow
        type="text"></ion-textarea>
    </ion-item>

    <ion-item class="ion-margin-vertical">
      <ion-input
        label="City:"
        placeholder="Enter City"
        formControlName="city">
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-vertical">
      <div class="flex">
        <ion-input
          formControlName="price"
          label="Price:"
          placeholder="1234"
          type="number"
        ></ion-input>

        <ion-select
          label="Currency:"
          formControlName="currency">
          <ion-select-option value="mkd">MKD</ion-select-option>
          <ion-select-option value="eur">EUR</ion-select-option>
        </ion-select>
      </div>
    </ion-item>


    <ion-item class="ion-margin-vertical">
      <ion-input
        formControlName="phone"
        label="Phone"
        placeholder="070 123 456"></ion-input>
    </ion-item>


    <ion-item class="ion-margin-vertical">
      <div class="flex">
        <ion-input
          label="Quantity:"
          formControlName="quantity"
          placeholder="10"
          type="number"></ion-input>

        <ion-select
          label="Measure:"
          formControlName="measure">
          <ion-select-option value="kg">KG</ion-select-option>
          <ion-select-option value="ton">TON</ion-select-option>
          <!-- Add more options as needed -->
        </ion-select>
      </div>

    </ion-item>


    <ion-item class="ion-margin-vertical">
      <ion-textarea
        labelPlacement="stacked"
        label="Description"
        autoGrow
        placeholder="Enter Description"
        formControlName="description"></ion-textarea>
    </ion-item>

    <!-- Add image upload component based on your requirements -->

    <ion-button class="ion-margin-top" [disabled]="form.invalid" expand="full" shape="round" type="submit">Submit</ion-button>

  </form>


</ion-content>
