::ng-deep ion-input .label-text,
::ng-deep ion-textarea .label-text,
::ng-deep ion-select .label-text {
  color: var(--ion-color-dark) !important;
  font-weight: 500 !important;
}

ion-item {
  --highlight-background: var(--ion-color-primary);
}

ion-toolbar {
  --background: rgba(0, 128, 0, 0.15);
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  border: 1px dashed #000000;
  border-radius: 1rem;
  margin: 10px 0;
  background-color: var(--ion-color-medium-tint);
}

.fruit {
  border: 1px solid var(--ion-color-medium-tint);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  & ion-radio {
    background-size: contain;
    background-repeat: no-repeat;
    height: 10rem;
    --color: transparent;
    --color-checked: transparent;
  }

  &.selected {
    border-color: var(--ion-color-primary);
    border-width: 2px;
  }
}
