<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="text-center">
    <h2>Create Ad</h2>
  </div>


  <form [formGroup]="form" (ngSubmit)="submit()">

    <swiper-container #swiper allow-touch-move=false>

      <swiper-slide>

        <ion-radio-group formControlName="category" [allowEmptySelection]="true">
          <ion-grid>
            <ion-row class="ion-padding">
              <ion-col size="6" *ngFor="let category of Object.keys(agriculturalCategories)">
                <div class="text-center ion-padding font-weight-500 font-size-12 fruit"
                     [class.selected]="isCategorySelected(category)">
                  <ion-radio [value]="category"
                             [style.background-image]="'url(\'' + getImagePath(category) + '\')'"></ion-radio>
                  {{ category }}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-radio-group>

        <ion-button class="ion-margin-top"
                    [disabled]="form.controls['category'].invalid"
                    (click)="goNext()" expand="full" shape="round">Next
        </ion-button>

      </swiper-slide>

      <swiper-slide>

        <ion-radio-group formControlName="subcategory" [allowEmptySelection]="true">
          <ion-grid>
            <ion-row class="ion-padding">
              <ion-col size="6" *ngFor="let subcategory of agriculturalCategories[form.get('category')?.value]">
                <div class="text-center ion-padding font-weight-500 font-size-12 fruit"
                     [class.selected]="isSubcategorySelected(subcategory)">
                  <ion-radio [value]="subcategory"
                             [style.background-image]="'url(\'' + getImagePath(subcategory) + '\')'"></ion-radio>
                  {{ subcategory }}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-radio-group>


        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="6">
              <ion-button class="ion-margin-top" (click)="goPrev()" expand="full" shape="round">Back</ion-button>
            </ion-col>

            <ion-col size="6">
              <ion-button (click)="goNext()"
                          [disabled]="form.controls['subcategory'].invalid"
                          class="ion-margin-top" expand="full" shape="round">Next
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>


      </swiper-slide>

      <!-- 1 -->
      <swiper-slide>
        <ion-item class="ion-margin-vertical">
          <ion-select
            label="I want to:"
            formControlName="buyOrSell">
            <ion-select-option value="buy">Buy</ion-select-option>
            <ion-select-option value="sell">Sell</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="ion-margin-vertical" lines="none">
          <ion-textarea
            label="Title"
            labelPlacement="stacked"
            formControlName="title"
            placeholder="Enter Title"
            autoGrow
            required
            errorText="Required"
            type="text"></ion-textarea>
        </ion-item>


        <ion-item class="ion-margin-vertical" lines="none">
          <ion-textarea
            labelPlacement="stacked"
            label="Description"
            autoGrow
            placeholder="Enter Description"
            required
            errorText="Required"
            formControlName="description"></ion-textarea>
        </ion-item>


        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="6">
              <ion-button class="ion-margin-top" (click)="goPrev()" expand="full" shape="round">Back</ion-button>
            </ion-col>

            <ion-col size="6">
              <ion-button (click)="goNext()"
                          [disabled]="form.controls['title'].invalid || form.controls['description'].invalid"
                          class="ion-margin-top" expand="full" shape="round">Next
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </swiper-slide>

      <!-- 2 -->
      <swiper-slide>

        <ion-item class="ion-margin-vertical" lines="none">
          <ion-input
            label="City:"
            placeholder="Enter City"
            formControlName="city"
            required
            errorText="Required"
          >
          </ion-input>
        </ion-item>

        <ion-item class="ion-margin-vertical" lines="none">
          <ion-input
            formControlName="phone"
            label="Phone:"
            required
            errorText="Required"
            placeholder="070 123 456"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-vertical" lines="none">
          <div class="flex">
            <ion-input
              formControlName="price"
              label="Price:"
              placeholder="1234"
              type="number"
              required
              errorText="Required"

            ></ion-input>

            <ion-select
              label="Currency:"
              formControlName="currency">
              <ion-select-option value="mkd">MKD</ion-select-option>
              <ion-select-option value="eur">EUR</ion-select-option>
            </ion-select>
          </div>
        </ion-item>


        <ion-item class="ion-margin-vertical" lines="none">
          <div class="flex">
            <ion-input
              label="Quantity:"
              formControlName="quantity"
              placeholder="10"
              required
              errorText="Required"
              type="number"></ion-input>

            <ion-select
              label="Measure:"
              formControlName="measure">
              <ion-select-option value="kg">KG</ion-select-option>
              <ion-select-option value="ton">TON</ion-select-option>
            </ion-select>
          </div>

        </ion-item>


        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="6">
              <ion-button class="ion-margin-top" (click)="goPrev()" expand="full" shape="round">Back</ion-button>
            </ion-col>

            <ion-col size="6">
              <ion-button (click)="goNext()"
                          [disabled]="form.controls['city'].invalid || form.controls['phone'].invalid ||form.controls['price'].invalid || form.controls['quantity'].invalid  "
                          class="ion-margin-top" expand="full" shape="round">Next
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </swiper-slide>

      <!-- 3 -->
      <swiper-slide>

        <ion-text (click)="uploadImages()">
          <div class="image-box">
            <p>
              Upload Images
            </p>
          </div>
        </ion-text>


        <ion-grid *ngIf="images">
          <ion-row>
            <ion-col size="4" *ngFor="let img of images">
              <img [src]="img.webPath" alt="image" class="img-fluid">
            </ion-col>
          </ion-row>
        </ion-grid>


        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="6">
              <ion-button class="ion-margin-top" (click)="goPrev()" expand="full" shape="round">Back</ion-button>
            </ion-col>

            <ion-col size="6">
              <ion-button class="ion-margin-top" [disabled]="form.invalid && form.pristine && !form.dirty" expand="full"
                          shape="round" type="submit">
                Submit
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </swiper-slide>
    </swiper-container>

  </form>


</ion-content>
