::ng-deep ion-input .label-text,
::ng-deep ion-textarea .label-text,
::ng-deep ion-select .label-text {
  color: var(--ion-color-dark) !important;
  font-weight: 500 !important;
}

ion-item {
  --highlight-background: var(--ion-color-primary);
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}


ion-toolbar {
  --background: rgba(0, 128, 0, 0.15);
}
