swiper-container {
  height: 22.5rem;
  text-align: center;

  & swiper-slide {
    img {
      border: 1px solid var(--ion-color-medium-tint);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.images {
  & .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 2.25rem 3rem -1rem #8a8a8a;
  }

  & ion-icon {
    font-size: 2rem;
    color: white;
    position: absolute;
    z-index: 100;
    top: 1rem;

    &.icon-back {
      left: 1rem;
    }

    &.icon-favorite {
      right: 1rem;
    }
  }
}

.user-info {
  --ion-background-color: var(--ion-color-primary-light);
  border-radius: 1rem;
  border: 1px solid var(--ion-color-medium-tint);
  box-shadow: var(--ion-box-shadow);
}

ion-list-header {
  font-size: 1.1rem;
  font-weight: 500;
}

ion-list ion-icon {
  font-size: 1.75rem;
  margin-right: 0.5rem;
}

ion-text {
  white-space: pre-line;
}

ion-badge {
  --background: transparent;
  color: black;
  border: 1px solid black;
  padding: 0.4rem 0.6rem;

  display: flex;
  align-items: center;
  gap: 0.35rem;

  & ion-icon {
    font-size: 1rem;
  }
}
