<ion-content>
  <div class="images">
    <ion-icon (click)="dismiss()" name="arrow-back" class="icon-back"></ion-icon>

    <ion-icon (click)="toggleFavorite()"
              [name]="isFavoriteAd ? 'heart' : 'heart-outline'"
              class="icon-favorite"></ion-icon>
    <swiper-container #swiper pagination>
      @for (image of ad.images; track image) {
        <swiper-slide>
          <img [src]="image" alt="image">
        </swiper-slide>
      } @empty {
        <swiper-slide>
          <img src="assets/images/no-image.png" alt="placeholder"/>
        </swiper-slide>
      }
      <div class="shadow"></div>
    </swiper-container>
  </div>

  <div class="ion-padding-horizontal">

    <ion-text>
      <h1 class="font-weight-bold">
        {{ ad.title }}
      </h1>
    </ion-text>

    <ion-text color="primary">
      <h2 class="font-weight-bold ion-margin-vertical">
        {{ ad.price }} {{ ad.currency }}
      </h2>
    </ion-text>

    <div class="flex gap-1 ion-wrap ion-text-uppercase">
      <ion-badge>
        <ion-icon name="location-outline"></ion-icon>
        <ion-text> {{ ad.location }}</ion-text>
      </ion-badge>
      <ion-badge>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-text>{{ ad.uploadedAt.toDate() | date:'dd.MM.yyyy' }}</ion-text>
      </ion-badge>
      <ion-badge>
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-text>{{ ad.itemCondition }}</ion-text>
      </ion-badge>
      <ion-badge>
        <ion-icon name="eye-outline"></ion-icon>
        <ion-text>Views: {{ ad.viewCount }}</ion-text>
      </ion-badge>
      <ion-badge>
        <ion-icon name="call-outline"></ion-icon>
        <ion-text>{{ ad.phone }}</ion-text>
      </ion-badge>
    </div>


    <ion-list class="ion-margin-vertical">
      <ion-list-header>Description</ion-list-header>
      <ion-item lines="none">
        <ion-label>
          <p class="description"
             [class.collapsed]="!isReadAllDescription && ad.description.length>300">{{ ad.description }}</p>
          @if (ad.description.length > 300) {
            <ion-button
              (click)="isReadAllDescription = !isReadAllDescription"
              fill="clear"
              expand="block"
              size="small"
              class="m-0"
            >{{ !isReadAllDescription ? "read more" : " show less" }}
            </ion-button>
          }
        </ion-label>

      </ion-item>
    </ion-list>

    <ion-list class="ion-margin-vertical">
      <ion-list-header>Seller details</ion-list-header>
      <app-profile-info [user]="owner"/>
    </ion-list>
  </div>

</ion-content>

<ion-footer class="ion-padding-horizontal">
  <ion-toolbar class="ion-no-border">
    <div class="contact-buttons">
      <ion-button fill="outline" color="dark" shape="round" class="gap-1">
        <ion-icon slot="start" name="call-outline"></ion-icon>
        Call
      </ion-button>
      <ion-button shape="round" color="dark" class="gap-1">
        <ion-icon slot="start" name="chatbox-ellipses-outline"></ion-icon>
        Message
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
