<ion-content>
  <div class="images">
    <ion-icon (click)="dismiss()" name="arrow-back" class="icon-back"></ion-icon>

    <ion-icon (click)="toggleFavorite()"
              [name]="isFavoriteAd ? 'heart' : 'heart-outline'"
              class="icon-favorite"></ion-icon>
    <swiper-container #swiper pagination>
      @for (image of ad.images; track image) {
        <swiper-slide>
          <img [src]="image" alt="image">
        </swiper-slide>
      } @empty {
        <swiper-slide>
          <img src="assets/images/no-image.png" alt="placeholder"/>
        </swiper-slide>
      }
      <div class="shadow"></div>
    </swiper-container>
  </div>

  <div class="ion-padding-horizontal">

    <ion-text>
      <h1 class="font-weight-bold">
        {{ ad.title }}
      </h1>
    </ion-text>

    <ion-text color="primary">
      <h2 class="font-weight-bold ion-margin-vertical">
        {{ ad.price }} {{ ad.currency }}
      </h2>
    </ion-text>

    <div class="flex gap-1 ion-wrap ion-text-uppercase">
      <ion-badge>
        <ion-icon name="location-outline"></ion-icon>
        <ion-text> {{ ad.location }}</ion-text>
      </ion-badge>
      <ion-badge>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-text>{{ ad.uploadedAt.toDate() | date:'dd.MM.yyyy' }}</ion-text>
      </ion-badge>
      <ion-badge>
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-text>{{ ad.itemCondition }}</ion-text>
      </ion-badge>
      <ion-badge>
        <ion-icon name="eye-outline"></ion-icon>
        <ion-text>Views: {{ ad.viewCount }}</ion-text>
      </ion-badge>
      <ion-badge>
        <ion-icon name="call-outline"></ion-icon>
        <ion-text>{{ owner?.phoneNumber }}</ion-text>
      </ion-badge>
    </div>


    <ion-list>
      <ion-list-header>Description</ion-list-header>
      <ion-item lines="none">
        <ion-label>
          <p class="description"
             [class.collapsed]="!isReadAllDescription && ad.description.length>300">{{ ad.description }}</p>
          @if (ad.description.length > 300) {
            <ion-button
              (click)="isReadAllDescription = !isReadAllDescription"
              fill="clear"
              expand="block"
              size="small"
              class="m-0"
            >{{ !isReadAllDescription ? "read more" : " show less" }}
            </ion-button>
          }
        </ion-label>

      </ion-item>
    </ion-list>

    <ion-list #userDetails>
      <ion-list-header>Seller details</ion-list-header>
      <app-profile-info [user]="owner"/>
    </ion-list>


    @defer (on viewport(userDetails)) {
      @if (similarAds$| async; as similarAds) {
        <ion-text><h1>Similar Ads</h1></ion-text>
        <app-ad-list [ads]="similarAds" [adFetchType]="adFetchType"
                     [additionalData]="{order: 'asc', similarAd: ad, lastVisibleAd: similarAds[similarAds.length-1]}"></app-ad-list>
      }
    } @placeholder (minimum 750ms) {
      @for (i of [1, 2, 3, 4]; track $index) {
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      }
    }
  </div>


</ion-content>

<ion-footer class="ion-padding-horizontal">
  <ion-toolbar class="ion-no-border">
    <div class="contact-buttons">
      <ion-button (click)="callPerson()" fill="outline" color="dark" shape="round" class="gap-1">
        <ion-icon slot="start" name="call-outline"></ion-icon>
        Call
      </ion-button>
      <ion-button [disabled]="ad.ownerId === user?.uid" (click)="openMessageModal()" shape="round" color="dark"
                  class="gap-1">
        <ion-icon slot="start" name="chatbox-ellipses-outline"></ion-icon>
        Message
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
